<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>



<form method="post">
    <label for="cheese">Cheese Type</label>
    <input type="text" id="cheese" name="cheeseName"/><br>
    <label for="description">Description</label>
    <textarea id="description" name="description" rows="4" cols="50"></textarea><br>
    <input type="submit" value="Add Cheese" />
    <p th:text="${error}"></p>

</form>



</body>
</html>